body{
    width: 100vw;
    height: 100vh;
    margin:0;
    padding:0;
    background-color: rgb(123, 123, 123);
    display: flex;
    justify-content: center;
}
.btn{
    position: fixed;
    top: 80vh;
    left: 10vw;
    padding: 20px 30px;
    background-color: transparent;
    border: 3px solid white;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.before-click{
    position: fixed;
    top: 5vh;
    color: white;
    animation-name: slide-up;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    opacity: 0;
}
.before-click span{
    text-decoration: underline;
    cursor: pointer;
}
.after-click span{
    text-decoration: underline;
    cursor: pointer;
}
.after-click{
    position: fixed;
    top: 50vh;
    color: white;
    animation-name: slide-down;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
}
@keyframes slide-down{
    from {
        top:5vh;
        opacity:0%;
    }
    to{
        top: 50vh;
        opacity: 100%;
    }
}
@keyframes slide-up{
    from {
        top:50vh;
        opacity: 100%;

    }
    to{
        top: 5vh;
        opacity: 0%;

    }
}